body {
  margin: 0px;
}

#navbar {
  width: 100%;
  height: 20%;
  background-color: grey;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#navbar li {
  display: inline;
}

#navbar li a {
  text-decoration: none;
  background-color: #6F8DC3;
  color: white;
  padding: 8px;
  display: inline-block;
}
