@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

body {
  margin: 0px;
  font-family: "Noto Sans JP", sans-serif;
}

@keyframes navbarLinkHover {
  0% {
    margin-top: 4px;
    border-radius: 8px 8px 0px 0px;
  }
  25% {
    border-radius: 8px;
  }
  100% {
    margin-top: 8px;
    border-radius: 8px;
  }
}

#navbar {
  width: 100%;
  background-color: grey;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#navbar li {
  display: inline;
}

#navbar li a {
  text-decoration: none;
  background-color: #6F8DC3;
  color: white;
  margin-top: 4px;
  border-radius: 8px 8px 0px 0px;
  padding: 10px 8px 10px 8px;
  display: inline-block;
}

#navbar li a.active {
  background-color: white;
  color: black;
}

#navbar li a:hover {
  animation-name: navbarLinkHover;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
