/* Made using https://www.w3schools.com/howto/howto_js_slideshow.asp */

* {
  box-sizing: border-box
}

.slide {
  display: none
}

.slideshow-img {
  vertical-align: middle;
  width: 100%;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
}

.slideshow-prev, .slideshow-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slideshow-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slideshow-prev:hover, .slideshow-next:hover {
  background-color: rgba(0,0,0,0.8);
}

.slideshow-text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.slideshow-active, .slideshow-dot:hover {
  background-color: #717171;
}

.slideshow-fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes slideshow-fade {
  from {
    opacity: .4;
  } 
  to {
    opacity: 1;
  }
}

@keyframes slideshow-fade {
  from {
    opacity: .4;
  } 
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .slideshow-prev, .slideshow-next, .slideshow-text {
    font-size: 11px;
  }
}
