.slide {
  display: none;
}

.slideshow-container {
  position: relative;
}

.slideshow-prev, .slideshow-next {
  cursor: pointer;
  position: absolute;
  left: 8px;
  top: 50%;
  width: auto;
  padding: 10px 6px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.5s ease;
  border-radius: 4px;
  user-select: none;
  background-color: rgba(0,0,0,0.25);
}

.slideshow-next {
  left: auto;
  right: 8px;
}

.slideshow-prev:hover, .slideshow-next:hover {
  background-color: rgba(0,0,0,0.75);
  color: white;
}

.slideshow-text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.slideshow-active, .slideshow-dot:hover {
  background-color: #717171;
}

@media only screen and (max-width: 300px) {
  .slideshow-prev, .slideshow-next, .slideshow-text {
    font-size: 11px;
  }
}
