@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

body {
  background-image: url("/assets/tiled_backdrop.png");
  margin: 0px;
  font-family: "Noto Sans JP", sans-serif;
}

#content {
  margin: 0px;
  padding: 8px;
}

#content ul {
  list-style-type: none;
  text-align: center;
}

.projectitem {
  background-color: #777777;
  box-shadow: 0px 0px 16px #666666;
  display: inline-block;
  text-align: left;
  width: 90%;
  margin: 32px;
  border-radius: 8px;
  transition: background-color 0.5s;
  transition-timing-function: ease-in-out;
}

.projectitem:hover {
  background-color: steelblue;
  transition: background-color 0.5s;
  transition-timing-function: ease-in-out;
}

.projectitem img {
  float: left;
  margin: 0px 8px 0px 0px;
  padding: 0px;
  border-radius: 8px 0px 0px 8px;
}

.projectitem p {
  color: white;
  font-size: 1em;
  margin: 0px;
  padding: 0px;
  text-align: justify;
}

#navbar {
  width: 100%;
  background-image: url("/assets/tiled_navbar.png");
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 2em;
  position: -webkit-sticky;
  position: sticky;
}

#navbar li {
  display: inline;
}

#navbar li a {
  text-decoration: none;
  background-color: #777777;
  color: white;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 8px;
  padding: 4px 8px 4px 8px;
  display: inline-block;
  transition: background-color 0.5s;
  transition-timing-function: ease-in-out;
}

#navbar li a.active {
  /*background-color: #FFFFFF;*/
  background-image: url("/assets/tiled_backdrop.png");
  margin-bottom: 0px;
  padding-bottom: 8px;
  border-radius: 8px 8px 0px 0px;
  color: black;
}

#navbar li a:hover {
  background-color: steelblue;
  transition: background-color 0.5s;
  transition-timing-function: ease-in-out;
}

#navbar li a.active:hover {
  background-color: dodgerblue;
  transition: background-color 0.5s;
  transition-timing-function: ease-in-out;
}
