@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

body {
  margin: 0px;
  font-family: "Noto Sans JP", sans-serif;
}

#navbar {
  width: 100%;
  background-color: grey;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 2em;
}

#navbar li {
  display: inline;
}

#navbar li a {
  text-decoration: none;
  background-color: #6F8DC3;
  color: white;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 8px;
  padding: 4px 8px 4px 8px;
  display: inline-block;
  transition: background-color 0.5s;
  transition-timing-function: ease-in-out;
}

#navbar li a.active {
  background-color: white;
  color: black;
}

#navbar li a:hover {
  background-color: green;
  transition: background-color 0.5s;
  transition-timing-function: ease-in-out;
}

#navbar li a.active:hover {
  background-color: lightgreen;
  transition: background-color 0.5s;
  transition-timing-function: ease-in-out;
}
