/* Use a nice looking font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');


/*******************************/
/* Global variables and styles */
/*******************************/

:root {
	scroll-behavior: smooth;

	--color-gradient-left: rgb(0, 85, 120);
	--color-gradient-right: rgb(20, 95, 80);
	--color-card-background: #FFF3;
	--color-text: white;
	--border-radius-size: 6px;
}

::selection {
	background-color: #ff1b1ba8;
}

body {
	background: linear-gradient(90deg, var(--color-gradient-left) 0%, var(--color-gradient-right) 100%);
	font-family: "Noto Sans JP", sans-serif;
	margin: 0;
	padding: 0;
	color: var(--color-text);
}

a {
	color: var(--color-text);
}

h1, h2, p {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2em;
}


/**************/
/* Info panel */
/**************/

#profile-picture {
	width: 128px;
	height: 128px;
}

#contact-names {
	margin: 0 32px;
}

#contact-names > * {
	margin: 0;
	padding: 0;
}

#contact-icons {
	margin: 24px 0 16px 0;
}

#contact-icons > * {
	margin: 0 16px;
	padding: 0;
}

#contact-icons img {
	width: 36px;
	height: 36px;
}


/**********/
/* Navbar */
/**********/

#nav-links {
	margin: 0;
	padding: 0;
}

#nav-links > a {
	margin: 0 16px;
	padding: 4px 8px;
	text-decoration: none;

	border-bottom: #FFF 4px solid;
    transition: border-bottom-color 0.075s ease-in-out;
}

#nav-links > a:hover {
	border-bottom-color: #FFFA;
}


/**********/
/* Cards! */
/**********/

.card {
	background-color: var(--color-card-background);
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);

	width: 90%;
	margin: 24px auto 0 auto;
	padding: 16px;
	border-radius: var(--border-radius-size);

	display: flex;
	flex-flow: column nowrap;
}

.card:first-child {
	margin-top: 32px;
}

.card:last-child {
	margin-bottom: 24px;
}

header.card {
	padding-bottom: 0;
}

.card-title {
	margin-bottom: 8px;
}


/*****************/
/* Helper styles */
/*****************/

.flex-horizontal {
	display: flex;
	flex-flow: row wrap;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.display-inherit {
	display: inherit;
}

.align-center {
	text-align: center;
}

.round {
	border-radius: 50%;
}

.indent {
	text-indent: 2em;
}

.mobile-break {
	display: none;
}


/* Fun mobile changes */
@media only screen and (max-width: 800px) {
	#nav-links {
		position: relative;
		justify-content: center;
		align-items: center;
		flex-flow: column nowrap;
		margin-bottom: 16px;
	}

	#nav-links > a {
		width: 80%;
		background-color: var(--color-card-background);
		-webkit-backdrop-filter: blur(16px);
		backdrop-filter: blur(16px);
		border-bottom-width: 0;
		border-radius: var(--border-radius-size);
		text-align: center;
		margin: 8px 0;
	}

	.card {
		width: 80%;
	}

	.mobile-break {
		display: inherit;
	}
}












/* todo: reconfigure all of this to be better + use kebab case */

project-card,
project-disclaimer-card,
mod-project-card,
mod-project-disclaimer-card {
    background-image: linear-gradient(to right, rgba(40, 25, 104, 0.6), rgba(47, 2, 66, 0.6));
    display: grid;
    text-align: left;
    width: 90%;
    margin: 32px auto;
    border-radius: 8px;
}

.projectitemaside {
    display: inline-grid;
    float: left;
    margin: 0px 8px 0px 0px;
    padding: 0px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: help;
}

.projectitemslide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 94%;
    height: 60px;
    border-radius: 8px;
    margin-left: 8px;
    margin-right: 8px;
    z-index: 2;
    background: rgba(70, 130, 180, 0.7);
    color: white;
    box-sizing: border-box;
    display: block;
    text-align: center;
    transition: transform ease 0.3s;
}

.projectitemslide p a {
    color: white;
    text-decoration: underline;
    padding-left: 16px;
    padding-right: 16px;
}

.projectitemslide {
    transform: translate(0, -100%);
}

.projectitemaside:hover .projectitemslide {
    transform: translate(0, 8px);
}
  
.projectitemimage {
    margin: 0px 8px 0px 0px;
    padding: 0px;
    border-radius: 8px 0px 0px 8px;
    width: 408px;
    height: 100%;
    min-height: 306px;
}
  
.projectitemtitle {
    color: white;
    margin: 8px 0px 8px 0px;
    padding: 0px;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.projectitemsubtitle {
    color: #DDDDDD;
    margin: 0px 0px 8px 0px;
    padding: 0px;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.projectitemdescription {
    color: white;
    font-size: 1em;
    margin: 0px 16px 16px 0px;
    padding: 0px 0px 16px 0px;
    text-align: justify;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

@media only screen and (max-width: 800px) {
    .projectitem {
        display: block;
        width: 96%;
    }
    
    .projectitemaside {
        display: block;
        width: 100%;
    }

    .projectitemaside .projectitemslide {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        transform: translate(0, 0);
        border-radius: 8px 8px 0px 0px;
    }

    .projectitemaside:hover .projectitemslide {
        transform: translate(0, 0);
    }
    
    .projectitemimage {
        display: block;
        border-radius: 8px 8px 0px 0px;
        width: 100%;
        height: auto;
    }
    
    .projectitemdescription {
        margin: 0px 16px 16px 16px;
    }
}

/*
.gameitemcontainer {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.gameitem {
    min-width: 32%;
    min-height: 85vh;
    text-align: center;
    background-color: rgba(56, 16, 99, 0.6);
    color: white;
    margin-right: 2%;
    margin-top: 16px;
    border-radius: 8px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: help;
}

.gameitem:last-child {
    margin-right: 0px;
}

.gameitem img {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}

.gameitem h4 {
    color: #DDDDDD;
}

.gameitem p {
    padding-left: 12px;
    padding-right: 20px;
}

.gameitemslide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 64px;
    z-index: 1;
    background: rgba(70, 130, 180, 0.7);
    padding: 20px;
    color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform ease 0.3s;
}

.gameitemslide p a {
    color: white;
    text-decoration: underline;
}

.gameitem .gameitemslide {
    transform: translate(0, -100%);
}

.gameitem:hover .gameitemslide {
    transform: translate(0, 0);
}

@media only screen and (max-width: 800px) {
    .gameitemcontainer {
        flex-direction: column;
    }

    .gameitem {
        max-width: 360px;
        margin-right: 0px;
        margin-bottom: 16px;
        height: 80vh;
    }

    .gameitem:last-child {
        margin-bottom: 0px;
    }

    .gameitem .gameitemslide {
        transform: translate(0, 0);
    }
}
*/
