/* Use a nice looking font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');


/*******************************/
/* Global variables and styles */
/*******************************/

:root {
	scroll-behavior: smooth;

	--color-gradient-left: rgb(0, 85, 120);
	--color-gradient-right: rgb(20, 95, 80);
	--color-card-background: #FFF3;
	--color-text: white;
	--border-radius-size: 6px;
}

::selection {
	background-color: #ff1b1ba8;
}

body {
	background: linear-gradient(90deg, var(--color-gradient-left) 0%, var(--color-gradient-right) 100%);
	font-family: "Noto Sans JP", sans-serif;
	margin: 0;
	padding: 0;
	color: var(--color-text);
}

a {
	color: var(--color-text);
}

h1, h2, p {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2em;
}


/**************/
/* Info panel */
/**************/

#profile-picture {
	width: 128px;
	height: 128px;
}

#contact-names {
	margin: 0 16px;
}

#contact-names > * {
	margin: 0;
	padding: 0;
}

#contact-icons {
	margin: 20px 0 16px 0;
}

#contact-icons a {
	margin: 0 16px;
	padding: 0;
}

#contact-icons img {
	width: 36px;
	height: 36px;
}


/**********/
/* Navbar */
/**********/

/* Remove padding so navbar is flush with bottom of card */
header.card {
	padding-bottom: 0;
}

#nav-links {
	margin: 0;
	padding: 0;
}

#nav-links > a {
	margin: 0 16px;
	padding: 4px 8px;
	text-decoration: none;

	border-bottom: #FFF 4px solid;
	transition: border-bottom-color 0.075s ease-in-out;
}

#nav-links > a:hover {
	border-bottom-color: #FFFA;
}


/**********/
/* Cards! */
/**********/

.card {
	background-color: var(--color-card-background);
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);

	width: 90%;
	margin: 24px auto 0 auto;
	padding: 16px;
	border-radius: var(--border-radius-size);

	display: flex;
	flex-flow: column nowrap;
}

.card:last-child {
	margin-bottom: 24px;
}

.card-title {
	margin-bottom: 8px;
}

.card-subtitle {
	color: #EEE;
	margin-bottom: 16px;
}


/*****************/
/* Project cards */
/*****************/

project-card {
	display: grid !important;
	grid-template: auto / 408px auto;
}

project-card > :nth-child(1) {
	border-radius: var(--border-radius-size);
	width: 408px;
	grid-column: 1;
	grid-row: 1;
}

project-card > :nth-child(2) {
	margin-left: 16px;
	grid-column: 2;
	grid-row: 1;
}


/*****************/
/* Helper styles */
/*****************/

.fixed-background {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.flex-horizontal {
	display: flex;
	flex-flow: row wrap;
}

.flex-vertical {
	display: flex;
	flex-flow: column wrap;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.display-inherit {
	display: inherit;
}

.align-center {
	text-align: center;
}

.align-justify {
	text-align: justify;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.round {
	border-radius: 50%;
}

.indent-paragraphs > p,
p.indent-paragraphs {
	text-indent: 2em;
}

.mobile-break {
	display: none;
}


/* Fun mobile changes */
@media only screen and (max-width: 800px) {
	#contact-icons div:first-child {
		margin-bottom: 4px;
		padding: 0;
	}

	#nav-links {
		position: relative;
		justify-content: center;
		align-items: center;
		flex-flow: column nowrap;
		margin-bottom: 16px;
	}

	#nav-links > a {
		width: 80%;
		background-color: var(--color-card-background);
		-webkit-backdrop-filter: blur(16px);
		backdrop-filter: blur(16px);
		border-bottom-width: 0;
		border-radius: var(--border-radius-size);
		text-align: center;
		margin: 8px 0;
	}

	.card {
		width: 80%;
	}

	project-card {
		grid-template: auto auto / auto;
	}

	project-card > :nth-child(1) {
		width: 100%;
		grid-column: 1;
		grid-row: 1;
	}

	project-card > :nth-child(2) {
		margin-left: 0;
		margin-top: 16px;
		grid-column: 1;
		grid-row: 2;
	}

	.mobile-break {
		display: inherit;
	}
}
